*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

@font-face {
    font-family: Zona Pro;
    src: url(/fonts/ZonaPro-Thin.otf);
}

@font-face {
    font-family: Zona Pro;
    src: url(/fonts/ZonaPro-Bold.otf);
    font-weight: bold;
}

*,*::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
#app {
    overflow-x: hidden;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

.body18 {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.125rem;
    line-height: 2rem;
}

.bodybold18 {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.125rem;
    line-height: 2rem;
}

.headline40 {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5rem;
    line-height: 3.75rem;
}

.headline60 {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3.75rem;
    line-height: 5.625rem;
}

.secondary-body-semi-b24 {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 2.5rem;
}